# ----------------------------------------------------------------------------
#  The following are based on my research on what to tune for MariaDB Galera 
#  cluster. 
#
#  Place file in /etc/mysql/conf.d  and restart mysql
#
#  ASSUMPTION:  /etc/my.cnf as include line
#    !includedir /etc/mysql/conf.d/
#
#  BY: Danny Sheehan    http://www.setuptips.com
# -----------------------------------------------------------------------------
[mysqld]

#
# Change from localhost (127.0.0.1) to your external interface 
# so other Galera cluster nodes can talk to us. Don't forget firewall rules.
#
bind_address            = 192.168.1.60

#
# query cache is not supported with Galera wsrep, so let's disable it.
#
query_cache_size=0
query_cache_type=0

#
# Not great for performance, but safer since we are not really interested in 
# fast write speeds with largely static web sites (such as blogs).
# see http://dba.stackexchange.com/questions/12611/is-it-safe-to-use-innodb-flush-log-at-trx-commit-2
#
sync_binlog = 1
innodb_flush_log_at_trx_commit = 1

#
# see http://www.mysqlperformanceblog.com/2007/11/01/innodb-performance-optimization-basics/
# see https://kb.askmonty.org/en/binary-log-formats/:w
#
binlog_format = ROW

# see http://harrison-fisk.blogspot.com.au/2009/02/my-favorite-new-feature-of-mysql-51.html
# https://kb.askmonty.org/en/getting-started-with-mariadb-galera-cluster/
# Sets the lock mode to use when generating auto-increment values. 
# Possible values are 0 (traditional), 1 (consecutive), or 2 (interleaved).
#
innodb_autoinc_lock_mode = 2

#
# see https://kb.askmonty.org/en/getting-started-with-mariadb-galera-cluster/
# see http://www.mysqlperformanceblog.com/2012/03/27/innodbs-gap-locks/
#
innodb_locks_unsafe_for_binlog = 1 

# Additional optimzations
#https://gist.github.com/kalos/3657441

#
# set to 70-80% of memory
#
innodb_buffer_pool_size = 500M

#
# For busy servers
#
open_files_limit        = 24000

